.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width:60%;
}
.about-me{
  padding-bottom:300px;
  text-align: center;
  padding-top: 40px;
  font-size:40px;
 
}

.mine{
  text-align: center;
}

.navs{
  font-size: 50px;
}
#Interests{
  font-size: 30px;
}
.what{
  padding:70px;
  border: 5px 4px solid yellowgreen;
  box-shadow: 5px 10px 4px 5px #dbd6d6;
  
}
#about-me{
  margin: 0;
  background: white;
  padding: 5em 7em 7em 7em;
  
}

#section {
  background-color: white;
  text-align: center;
  padding: 0;
  border-style: solid;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
  border-color: white;
  margin-top: 6em;
  margin-bottom: 6em;
}