body {
  background-image: url(images/loud1.jpg);
  text-align: left;
  font-size: 20px;
}
h1 {
  color:blue;
  text-decoration: underline;
}
.about {
  font-family:'monaco';
  font-style: italic;
}
.mypotfolio {
  font-weight: bold;
}
img{
  width:300px;
  height:300px;
}
