body {
  background-color:green;
  text-align: left;
  font-size: 30px;
}
h1 {
  color:blue;
  text-decoration: underline;
}
.about {
  background-color: yellow;
  font-family:'monaco';
  font-style: italic;
}
.mypotfolio {
  font-weight: bold;
}
img{
  width:300px;
  height:300px;
}
