body {
  background-color:green;
  text-align: left;
  font-size: 30px;
}
h1 {
  color:blue;
}
.about {
  background-color: yellow;
  font-family:'monaco';
  font-style: italic;
}
.mypotfolio {
  font-weight: bold;
}
